html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}


/* montserrat-regular - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* montserrat-700 - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/montserrat-v14-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-300 - latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/roboto-v20-latin-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-regular - latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/roboto-v20-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-font: "Montserrat", sans-serif;
  --first-font: "Roboto", serif;
  --main-text-color: #333333;
  --first-text-color: #666666;
  --second-text-color: #ffffff;
  --icon-background-four: #4e73db;
  --icon-background-three: #1cd7ad;
  --icon-background-two: #ffa507;
  --icon-background-one: #ff4e50;
}

body {
  font-family: var(--main-font);
  color: var(--first-text-color);
}

.container {
  width: 320px;
  margin: 0 auto;
}


/* <!--HEADER--> */

.logo {
  font-size: 20px;
  letter-spacing: 1px;
  color: var( --second-text-color);
  font-family: var(--main-font);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  display: none;
}

.nav-list-item-btn {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  color: var( --second-text-color);
  text-align: center;
  border: none;
  background: none;
  width: 90px;
  height: 38px;
}

.nav-list-item-btn:hover,
.nav-list-item-btn:focus {
  border: 2px solid var( --second-text-color);
  border-radius: 18px;
  color: rgba(255, 255, 255, .5);
}

.nav-list {
  display: flex;
  justify-content: center;
}


/* <!--SECTION ONE--> */

.section-promo {
  background-image: url(../image/smart-object.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 154px 0 138px;
  font-family: var(--main-font);
  color: var( --second-text-color);
}

.header-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.section-promo-wrapper {
  position: relative;
}

.section-promo-logo {
  display: block;
}

.section-promo-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 36px 0 20px 0;
}

.section-promo-title-description {
  font-size: 18px;
  font-family: var(--first-font);
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
  opacity: .7;
  margin-bottom: 18px;
}

.section-promo-title-description-span,
.section-promo-title-span {
  display: block;
}

.section-btn {
  display: block;
  border-radius: 20px;
  width: 284px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  transition-property: color;
  transition: 0.2s linear;
}

.section-promo-btn {
  background-color: var(--icon-background-one);
  border: none;
  color: var( --second-text-color);
}

.section-promo-btn:hover,
.section-promo-btn:focus {
  color: var(--icon-background-one);
  background-color: var( --second-text-color);
}


/* <1--SECTION TWO--> */

.section-partners {
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  padding: 74px 0 58px;
}

.section-partners-wrapper {
  padding: 0 20px 0;
}

.section-partners-title {
  color: var(--main-text-color);
  font-size: 22px;
  margin-bottom: 18px;
}

.section-partners-list__item-name {
  font-size: 14px;
  color: var(--main-text-color);
  padding-bottom: 20px;
}

.section-partners-list__item-description {
  font-weight: 300;
  font-family: var(--first-font);
  color: var(--first-text-color);
}

.section-partners-list__item {
  margin-bottom: 28px;
}

.section-partners-list__item-img img {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  margin: 0 auto;
}

.section-partners-list__item-img {
  position: relative;
  display: inline-block;
  margin-bottom: 22px;
}

.section-partners-list__item-img::after {
  position: absolute;
  display: block;
  content: "";
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 4px solid var( --second-text-color);
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  bottom: 0;
}

.icon-tv::after {
  background-image: url(../image/icon-01.png);
  background-color: var(--icon-background-one);
}

.icon-proof::after {
  background-image: url(../image/icon-02.png);
  background-color: var(--icon-background-two);
}

.icon-cup::after {
  background-image: url(../image/icon-03.png);
  background-color: var(--icon-background-three);
}

.icon-letter::after {
  background-image: url(../image/icon-04.png);
  background-color: var(--icon-background-four);
}

.section-partners-btn {
  color: var(--icon-background-one);
  background-color: var(--second-text-color);
  border: 2px solid var(--icon-background-one);
}

.section-partners-btn:hover,
.section-partners-btn:focus {
  background-color: var(--icon-background-one);
  border: none;
  color: var(--second-text-color);
}


/* <!--FOR LAPTOP--> */

@media (max-width: 767px) {
  .section-promo-title-description-span {
    display: block;
  }
}

@media (min-width: 768px) {
  .container {
    width: 760px;
    margin: 0 auto;
  }
  .section-promo {
    background-image: url(../image/medium-object.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    padding: 208px 0 232px 0;
  }
  .logo {
    display: block;
  }
  .section-promo-logo {
    display: none;
  }
  .nav-site {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 50px 0;
  }
  .section-promo-title {
    font-size: 52px;
  }
  .section-promo-title-span {
    display: block;
  }
  .section-promo-title-description-span {
    display: inline-block;
  }
  .section-promo-title {
    padding: 0 0 38px 0;
  }
  .section-promo-title-description {
    font-size: 24px;
    margin-bottom: 36px;
  }
  .section-partners-list {
    display: flex;
    flex-wrap: wrap;
    width: 492px;
    margin: 0 auto;
    padding-bottom: 38px;
  }
  .section-partners-list__item {
    width: 236px;
    padding: 0 12px;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .section-partners-list__item:nth-child(odd) {
    margin-right: 20px;
  }
  .section-partners-list__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 58px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 962px;
    margin: 0 auto;
  }
  .section-promo {
    background-image: url(../image/large-object.jpg);
  }
  .section-partners-list {
    width: 100%;
    flex-wrap: nowrap;
  }
}
