html {
    box-sizing: border-box;
}
* {
    margin: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: "Roboto", "Source Sans Pro", "Raleway", sans-serif;
}
.clearfix::after {
    display: table;
    content: '';
    clear: both;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
.logo {
    display: inline-block;
    font-size: 30px;
    color: #555252;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 100;
    padding-top: 32px;
}
.logo::first-letter {
    color: #1abc9c;
    font-weight: bold;   
}
header {
    padding-bottom: 90px;
}
.cite-navigation {
    float: right;
    list-style: none;
    padding-top: 38px;
}
.cite-navigation-item {
    float: left;
}
.cite-navigation-item:not(:last-child) {
    margin-right: 35px;
}
.cite-navigation a {
    font-size: 14px;
    font-weight: bold;
    color: #0f0101;
    text-transform: uppercase;
    text-decoration: none;
}
.cite-navigation a:hover,
.cite-navigation a:focus {
    color: #1abc9c;
}
.products h2, .news h2 {
   font-size: 48px;
   font-weight: 600;
   color: #515151;
   text-align: center;
   text-transform: uppercase;
}
.products {
    padding-bottom: 98px;
}
.products h2::after,
.news h2::after {
   display: block; 
   width: 164px;
   height: 7px;
   background-color: #4ec6ab;
   content: '';
}
.products h2::after {
    margin: 20px auto 92px;
}
.news h2::after {
    margin: 19px auto 82px;
}
.products-list {
    list-style: none;
    padding: 0;
}
.products-list-item {
    float: left;
    width: 255px;
    padding: 0;
    margin-bottom: 30px;
}
.products-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}
.products-list-item:nth-last-child(-n +4) {
    margin-bottom: 0;
}
.products-list-item img {
    display: block;
    background-color: #e9f0fd;
}
.price,
.product-name {
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    text-transform: uppercase;
}
.product-name {
    float: left;
    background: #323232; 
    color: #ffffff;
    width: 201px;
    padding: 4px 0 4px 13px;   
}
.products-list-item:hover .product-name,
.products-list-item:focus .product-name {
    background-color: #1abc9c;
}
.products-list-item:hover .price,
.products-list-item:focus .price {
    background-color: #7fd9c7;  
}
.price {
    width: 54px;
    color: #ffffff;
    background: #8c8c8c;
    float: right;
    padding: 4px 0;
    text-align: center;
}
/* <!--section two--> */
.news {
    padding-bottom: 80px;
}
.news-list {
    list-style: none; 
    font-family: "Open Sans","Source Sans Pro", "Raleway", sans-serif;
    color: #555252;
    padding: 0;
}
.news-list-item h4 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    text-align: left;
}
.news-list-item h4::after {
    display: block;
    content: '';
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
    margin: 11px 0 14px;
}
.text-news {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
}
.news-list-item {
    float: left;
    width: 347px;
    padding: 0;
}
.news-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.news-button {
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    background-color: #4ec6ab;
    border-radius: 3px;
    width: 160px;
    height: 51px;
    cursor: pointer;
}
.news-button:hover,
.news-button:focus  {
    background-color: #3cfaaa;
}